---
layout: layouts/base.njk
title: Portfolio - English version
rootPath: ""
permalink: "/portfolio---english-version.html"
title_suffix: false
wf_page_id: "6859789c0faee6318034ceb8"
---
<div class="hero-scroll-trigger-animation"></div>
  <div class="page-wrapper">
    <div class="section">
      <div class="container inner-hero w-container">
        <div class="code-embed w-embed w-iframe"><iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://embed.figma.com/deck/pFl8yjndoJVdqMjHoa44hX/Portfolio_2025-ENG?node-id=1-64&viewport=-4524%2C-3570%2C1&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1&embed-host=share" allowfullscreen=""></iframe></div>
      </div>
    </div>
  </div>
