---
layout: layouts/base.njk
title: Portfolio - French version
rootPath: ""
permalink: "/portfolio---french-version.html"
title_suffix: false
wf_page_id: "6859787df00594572ce8f71e"
---
<div class="hero-scroll-trigger-animation"></div>
  <div class="page-wrapper">
    <div class="section">
      <div class="container inner-hero w-container">
        <div class="code-embed w-embed w-iframe"><iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://embed.figma.com/deck/kFhCMDupo67xH06XruCuFV/Portfolio_2025-FR?node-id=1-18&viewport=-2109%2C-1676%2C0.89&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1&embed-host=share" allowfullscreen=""></iframe></div>
      </div>
    </div>
  </div>
