<div data-animation="default" data-collapse="medium" data-duration="800" data-easing="ease" data-easing2="ease" data-doc-height="1" role="banner" class="navigation w-nav">
  <div class="container nav">
    <div class="main-grid nav-mobile">
      <div class="brand-logo-wrapper">
        <div class="flex-vertical">
          <a href="{{ rootPath }}index.html" class="nav-brand w-nav-brand">
            <div class="text-block-2">Christopher Laflamme</div>
          </a>
        </div>
      </div>
      <nav role="navigation" class="menu-nav w-nav-menu">
        <div class="menu-links-wrapper">
          <a href="{{ rootPath }}index.html" class="floating-item w-inline-block">
            <div>Home</div>
          </a>
          <a href="{{ rootPath }}portfolio.html" class="floating-item w-inline-block">
            <div>Projects</div>
          </a>
          <a href="{{ rootPath }}about.html" class="floating-item w-inline-block">
            <div>About</div>
          </a>
          <a href="mailto:christopher.lafla@gmail.com" class="floating-item w-inline-block">
            <div>Contacts</div>
          </a>
        </div>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="hamburger-icon">
          <div class="hamburger-bar _1"></div>
          <div class="hamburger-bar _2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
